@model KissHiFi.Models.Hirek

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Hirek</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Cim)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cim)
            @Html.ValidationMessageFor(model => model.Cim)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tartalom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tartalom, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Tartalom)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
}
